html
    head
        title Werewolf Bot
        script(src="js/cookies.js")
        script(src="js/server.js")
        script(src="js/index.js")
        link(rel="stylesheet" href="css/styles.css")
body
    p Werewolf bot admin panel
    p Game
        input(id="gameIdText" type="text" value="G010XMKRRPH" )
    p Add player
        select(id='addPlayerSelect' onChange="index.addPlayer('gameIdText', 'addPlayerSelect', 'outputDiv')")
            - for ( let userIndex = 0; userIndex < customData.users.length; userIndex++ ) {
                option(value=customData.users[userIndex]) #{customData.users[userIndex]}
            - }
    p Remove player
        select(id='removePlayerSelect' onChange="index.removePlayer('gameIdText', 'removePlayerSelect', 'outputDiv')")
            - for ( let userIndex = 0; userIndex < customData.users.length; userIndex++ ) {
                option(value=customData.users[userIndex]) #{customData.users[userIndex]}
            - }
    button(id="gateDataButton" onClick="index.printGameData('gameIdText', 'outputDiv')") Get game data
    button(id="gateDataButton" onClick="index.restartGame('gameIdText', 'outputDiv')") Restart game
    div(id="outputDiv")
